<h2>Create New User</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :department_id, 'Department' %>
      <%= f.select :department_id, options_for_select(Department.all.collect { |dp| [dp.name, dp.id] }), {}, {class: 'form-control'} %>
    </div>

    <div class="field">
      <%= f.label :role_id, 'Role' %>
      <%= f.select :role_id, options_for_select(User::ROLES), {}, {class: 'form-control'} %>
    </div>

    <div class="field">
      <%= f.label :zone_id, 'Zone' %>
      <%= f.select :zone_id, options_for_select(Zone.all.collect { |zone| [zone.title, zone.id] }), {}, {class: 'form-control'} %>
    </div>

    <div class="field">
      <%= f.label :site_id, 'Site' %>
      <%= f.select :site_id, options_for_select(Site.all.collect { |site| [site.title, site.id] }), {}, {class: 'form-control'} %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Create User" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
