<!DOCTYPE html>
<html>
<head>
  <title>Fsms</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<%= render 'shared/menu' %>
<div class="container page-wrapper">

  <div class="starter-template">
    <%= yield %>
  </div>

</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Copy right &copy; www.syftet.com
      <span class="pull-right">
        General site information
      </span>
    </p>
  </div>
</footer>
<!-- /.container -->
</body>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
