<!DOCTYPE html>
<html>
<head>
  <title>Fsms</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<%= render 'shared/menu' %>
<div class="container">

  <div class="starter-template">
    <%= yield %>
  </div>

</div>
<!-- /.container -->
</body>
</html>
